{
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "extends": [
    "airbnb",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier", "@typescript-eslint", "import", "cypress"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".ts"] }],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "no-shadow": "off",
    "func-names": "off",
    "prefer-template": "off",
    "react/require-default-props": "off",
    "import/order": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "default-param-last": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  }
}